@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* #temoignages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
} */

.ligne-horizontale {
    border-top: 1px solid #ccc; /* Couleur et épaisseur de la ligne */
    margin-top: 20px; /* Marge en haut de la ligne */
}
.entete-temoignages {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}
.entete-temoignages h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #16b0c4;
    color: #ffffff;
    padding: 10px 20px;
}
.entete-temoignages h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 20px;
}
.entete-temoignages span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.conteneur-boites-temoignages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.boite-temoignage {
    width:500px;
    height: 250px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    position: relative; /* Ajout de la position relative pour positionner la date */
}

.effacer-commentaire {
    background-color: #16b0c4;
    margin:6px;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.effacer-commentaire:hover {
    background-color: #0a444c;
}

.photo-profil {
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.photo-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profil {
    display: flex;
    align-items: center;
}
.nom-utilisateur {
    display: flex;
    flex-direction: column;
}
.nom-utilisateur strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.nom-utilisateur span {
    color: #979797;
    font-size: 0.8rem;
}
.avis {
    color: #f9d71c;
}
.date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8rem;
    color: #979797;
}
.boite-temoignage:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
@media(max-width:1060px) {
    .boite-temoignage {
        width:45%;
        padding: 5px;
    }
}
@media(max-width:790px) {
    .boite-temoignage {
        width:100%;
    }
    .entete-temoignages h1 {
        font-size: 1.4rem;
    }
}
@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .avis {
        margin-top: 10px;
    }
}
::selection {
    color: #ffffff;
    background-color: #252525;
}

nav {
    max-width: var(--max-width);
    height: 20px;
    margin:auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.nav_logo img {
    width: 140px;
    margin-right: 10px;
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link{
    margin-right: 20px;
}
.link a{
    font-weight: 500;
    color: rgba(152, 150, 150, 0.932);
    transition:  0.3;
}

.link a:hover{
    color: (--primary-color);
}
.entete-temoignages {
    text-align: center;
    margin-bottom: 30px;
}
#commentaire {
display: flex;
flex-direction: column;
}

#commentaire label {
margin-bottom: 10px;
text-align: left;
}

#commentaire textarea {
resize: vertical;
}
#commentaire label span {
font-size: 0.8rem;
color: #777;
margin-left: 5px;
}

#etoiles {
text-align: center;
margin-bottom: 10px;
}

#publier{
width: 150px; /* Largeur du bouton */
height: 50px; /* Hauteur du bouton */
margin-top: 20px; /* Marge en haut */
margin-left: 1px; /* Marge à gauche */
background-color: #16b0c4;
}
#publier:hover{
background-color: lightskyblue; /* Couleur de fond au survol */
color: white;
}

#effacer {
margin-left: auto;


}
#effacer:hover{
background-color: grey;

}
footer {
background-color: #16b0c4;
color: var(--white);
padding: 20px 0;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}
footer a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}
.footer-item:hover {
    color: blue;
}
.affichage-annonce {
border: 1px solid black;
background-color: #16b0c4;
height: 90%; 
width: 100%; 
display: flex; 
flex-direction: column; 
flex-wrap: wrap; 
}

