@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../images/photoInscription.png) no-repeat center/cover;
    font-size: 14px;
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 65%;
    height: 70%;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    border-radius: 5%;
}

#zone_text {
    width: 80%;
    text-align: center;
    padding: 20px;
}

#Barre_nav {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(242, 238, 238);
    padding: 20px;
    border-radius: 5%;
}

#Barre_nav button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    background-color: #16b0c4;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: larger;
    letter-spacing: .2rem;
}

#Barre_nav button:hover {
    background-color: #021b57;
}

input{
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    background-color: #16b0c4;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: .2rem;
    text-align: center;
}

input:hover {
    background-color: #021b57;
}



button {
    border: none;
    padding: 20px;
    margin-top: 5px;
    background-color: #16b0c4;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: larger;
    letter-spacing: .2rem;
}

button:hover {
    background-color: #021b57;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
    height: 100%;
    font-size: 13px;
}

p {
    font-family: "Montserrat";
    line-height: 20px;
}
img{
    height: 100px;
    width: 100px
}

h2 {
    font-family: "Montserrat";
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
}

div #btn_reservations{
    background-color: #021b57; 
    cursor: auto;

}

table , td , th , tr{
    border:1px solid lightgray;
    border-collapse:collapse;
    padding: 10px;
}

.donnee{
    background-color: lightgray;
    color: #16b0c4;
}

form button{
    background-color: lightgrey;
    color:#16b0c4;
    font-size: 13px;
    font-family: "Montserrat";
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: bolder;

}

form button:hover{
    color: white;
    background-color: lightgray;
    
}

#debut , #fin {
    color: white;
    font-size: 10px;
}


.annulation , .modification{
    display: none; /* Par défaut, la fenêtre  est cachée */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto;
}

.annulation-content, .modification-content {
    background-color: white;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
}


.input{
    width: 15%;
}

#id_reservation , #email , #Ddebut , #Dfin {
    background-color: white;
    border: 1px solid lightgray;
    color: black;
}

#courriel , #numero_reservation{
    background-color: white;
    border: 1px solid lightgray;
    color: black;
}

#retour{
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 12px; /* Réduire la taille de la police globale */
    }

    
    .container {
        width: 90%; /* Réduire la largeur du conteneur */
        height: 95%; /* Réduire la hauteur du conteneur */
        display: flex;
        flex-direction: column; /* Aligner les éléments en colonne */
    }

    #Barre_nav {
        display: flex;
        flex-direction: row; /* Aligner les éléments en ligne */
        flex-wrap: wrap;
        width: 100%;
    }

    #zone_text {
        flex-direction: column; /* Aligner les éléments en colonne */
        width: 100%; /* Prendre toute la largeur disponible */
        height: 100%; /* Prendre toute la hauteur disponible */
    }

    button , input{
        
        font-size: 9px;
        width: smaller;

    }

}

@media screen  and (max-width: 800px ){
    #zone_text{
        transform: rotate(270deg);
        margin-right: 10px;
    }
    
}