
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16b0c4;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.navbar svg{
    margin:10px;
    width: 20px;
    height: 20px;
    color: white;
}

.navbar-brand {
    margin-right: auto;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navbar-brand img {
    width: 30px;
    margin-right: 10px;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}


h2 {
    color: #16b0c4;
    margin: 10px 0;
}


p {
    color: black;
    line-height: 1.5;
}


footer {
    background-color: #ffffff;
    color: #6d597a;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 5px 0;
}


a {
    color: #6d597a;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    color: #000000;
}


span {
    font-size: 1.3rem;
    color: #16b0c4;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
