@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

    
@media only screen and (max-width: 768px) {
    .container {
        width: 90vw; /* Ajuster la largeur du conteneur */
    }

    .content img {
        width: 100%; /* Ajuster la largeur de l'image */
        height: auto; /* Redimensionner proportionnellement */
        margin-right: 0; /* Supprimer la marge */
        border-radius: 0; /* Supprimer la bordure arrondie */
    }

    div p {
        width: 100%; /* Ajuster la largeur du paragraphe */
        border-radius: 0; /* Supprimer la bordure arrondie */
    }

    h1, h2 {
        font-size: 1.5em; /* Ajuster la taille de la police */
    }

    input[type="submit"] {
        padding: 8px 16px; /* Ajuster le rembourrage */
        font-size: 14px; /* Ajuster la taille de la police */
    }

    #div-text {
        font-size: 12px; /* Ajuster la taille de la police */
    }
}

        /* Variables CSS */
        :root {
            --main-bg-color: #f4f4f4;
            --container-bg-color: #fff;
            --container-border-color: #ddd;
            --text-bg-color: #f0f0f0;
            --input-bg-color: #fafafa;
            --input-border-color: #ccc;
            --primary-color: #16b0c4; /* Couleur principale (bleu) */
        }

        /* Styles de base */
        body {
            font-family: "Montserrat", sans-serif;
            background-color: var(--main-bg-color);
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            padding: 20px;
            background-color: var(--container-bg-color);
            border: 1px solid var(--container-border-color);
            border-radius: 5px;
            width: 70vw;

        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .content img {
            margin-right: 20px;
            border-radius: 5px;
            width: 40%;
            height: 40%;
        }

        div p {
            background-color: var(--text-bg-color);
            padding: 20px;
            border-radius: 5px;
            width: 140%;
            text-align: center;

        }

        h1, h2 {
            margin: 0;
            color: var(--primary-color);
        }


        th {
            background-color: var(--main-bg-color);
        }

        .total {
            text-align: right;
        }

        input[type="submit"] {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: var(--primary-color);
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #0056b3; /* Légère nuance de bleu au survol */
        }

        input[type="hidden"] {
            display: none; /* Cacher les inputs de type "hidden" */
        }

        #div-text{
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        text-align: center;
        font-style: italic;
        color: #16b0c4;
        }
